@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import "./assets/bootstrap-skin/superHero.min.css";



html, body {
    min-width: 100%;
    min-height: 100%;
    font-size: 12px;
}
