<template>
  <div
  v-if="characters"
  class="characters container">
  <h1> Rick and Morty characters </h1>
  <div class="row">
    <character-thumbnail
    v-for="(character, i) in characters"
    :key="i"
    :character="character"/>
  </div>

     </div>
</template>

<script>

import CharactersService from '../services/charactersService.js'
import CharacterThumbnail from './CharacterThumbnail'

export default {
  name: 'Characters',
  components: {
    CharacterThumbnail
  },
  data () {
    return {
      characters: []
    }
  },
  created () {
    CharactersService.fetchCharacters().then(res => {
      this.characters.push(...res.data.results)
    })
  }
}
</script>

<style lang="scss" scoped>
  h1, h2 {
    font-weight: normal;
    text-align: center;
    margin: 3rem 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
