<template>
  <div class="thumbnail col-sm-4">
    <div class="card mb-3">
  <h3 class="card-header">{{ character.name }}</h3>
  <div class="card-body">
    <h5 class="card-title">{{ character.species }}</h5>
    <h6 class="card-subtitle text-muted">{{ character.status }}</h6>
  </div>
  <div class="image"  :style="{ 'background-image': 'url(' + character.image + ')' }"/>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ character.gender }}</li>
    <li class="list-group-item">{{ character.location.name }}</li>
  </ul>
  <div class="card-footer text-muted">
    {{ character.created | moment("dddd, MMMM Do YYYY") }}
  </div>
</div>
  </div>
</template>

<script>
export default {
  name: 'CharacterThumbnail',
  props: {
    character: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
.thumbnail {
  .image {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
</style>
